


<html>
<header>
  <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
  <style>

    body {
      background-color: #caf59d;
    }
    h1 {
      font-family: 'Gochi Hand', cursive;
      font-size: 120px;
      text-align: center;
      padding-top: 100px;
    }

</style>
<header>
  <body>
<h1>Nevermind, <%= @user_name %>. It's only <%= @days_left %>
   until your birthday.</h1>
</body>
<html>
