
<html>
<header>
  <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href='/css/birthday.css'
  </header>
<body>

  <div id="form">
    <%= erb :form %>
    </div>


</body>
</html>
